// Place all the styles related to the Errors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.error-div{
  background-color: white;
  color: rgb(135, 15, 47);
  padding: 15px;
  width: 75%;
}